@tailwind base;
@tailwind components;
@tailwind utilities;

.ais-SearchBox {
  margin-bottom: 1em;
  /* border-radius: 50px; */
}

.ais-SearchBox-form {
  border-radius: 100px;
}

.ais-SearchBox-input {
  border-radius: 100px !important;
}

.ais-InstantSearch {
  max-width: 960px;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.ais-Hits-list .ais-Hits-item {
  margin-left: 0;
  width: 100%;
  color: black;
  text-align: start;
}

.ais-InstantSearch .ais-Hits-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 0;
  margin-top: 0;
}

.hit-article_title {
  color: gray;
}

.hit-heading {
  font-weight: bold;
  margin-bottom: 0.5em;
}
